/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Mar-2015, 13:45:18
    Author     : 1309400
*/

header{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow:hidden;
}
body{
    background: #efefef;
}
header, #main, footer{
    background: #fff;
}
#logocontainer{
    margin-left: 100px;
    float:left;
}
#searchcontainer{
    float:right;
    margin-right: 100px;
    margin-top: 100px;
}
#searchcontainer input{
    border-radius: 15px;
    height: 25px;
    outline: none;
}
section, aside{
    //border: 1px solid #777;
}
#main{
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
}
#content{
    height: 500px;
    margin-left:220px;
}
#navcontainer{
    float:left;
    width: 200px;
    height: 500px;
}
footer{
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
    height: 100px;
}