/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Mar-2015, 13:45:18
    Author     : Group D
*/
body{
    background-image: url(../img/background.jpg);
}
header{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow:hidden;
}
h1, p{
    font-family: 'Neuton', serif;
}
/* Styles for the header*/
header, #main, footer{
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #555;
}
/* Styles for the logo */
#logocontainer{
    margin-left: 100px;
    float:left;
}
/* Styles for search input*/
#searchcontainer{
    float:right;
    margin-right: 100px;
    margin-top: 100px;
}
#searchbox {
    background:url(../img/search-white.png) no-repeat 10px 12px #fcfcfc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: none;
    font: 16px Arial,Helvetica,Sans-serif;
    color: #000;
    width: 150px;
    padding: 8px 15px 8px 35px;
    outline: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    z-index: 999;
    position: relative;
}
#searchbox:focus {
    width: 200px;
}
#searchbutton{
    font-size: 20px;
    color: #fff;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(bottom, #3498db, #2980b9);
    width: 80px;
    padding: 5px 5px 8px 45px;
    border: none;
    border-radius: 20px;
    margin-left: -40px;
    z-index: 998;
    position: relative;
    outline: none;
}
#searchbutton:hover{
    cursor: pointer;
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
/* Styles for the main body */
#main{
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
}
#content{
    margin-left:220px;
}
/* Styles for the top movies page */
#topmovies, #resultmovies{
    //border: 1px solid #f00;
    overflow: hidden;
}
#topmovies h1, #resultmovies h1{
    text-align:  center;
    font: bold 18px sans-serif;
    margin-top: 10px;
}
#topmovies article, #resultmovies article{
    overflow: hidden;
    margin: 10px 0px 40px 20px;
    
}
#topmovies article img, #resultmovies article img{
    float:left;
}
/* Styles for side navigation */
#navcontainer{
    float:left;
    width: 200px;
    height: 500px;
}
nav ul{
    margin: 10px 0px 0px 10px;
}
nav > ul > li{
    margin-bottom: 20px;
    font-size: 16px;
}
nav ul ul li{
    margin-bottom: 5px;
}
nav ul li i{
    margin-right: 5px;
}
footer{
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
}
#topmovies p, #resultmovies p{
    margin-left: 120px;
    margin-bottom: 3px;
}
.movie_title{
    font-size: 18px;
    font-weight: bold;
}
.topmovie img{

}
.genre{
    margin-left: 20px;
}
/* Styles for footer */
footer section{
    display: inline-block;
}
#social_media{
    margin: 20px 0px 20px 20px;
    
}
#social_media a{
    color: #000;
    font-size: 26px;
    margin-right: 20px;
}
#links{
    margin-left: 20%;
}
#legal{
    margin-left: 20%;
}
/* Styles for movie information page*/
#toprow{
    margin: 20px; 
    overflow: hidden;
}
#midrow{
    margin: 20px;
}
#bottomrow{
    margin: 20px;
}
#movieimage{
    float: left;
}
#movieinfo{
    margin-left: 225px;
}
#movietrailer{
    margin: 0 auto; 
    width: 500px;
}
#movieinfo p{
    padding-top: 2px; 
    padding-bottom: 2px;}